
body {
  background-color: #f1f2f6;
  margin: 0;
  font-family: Arial, sans-serif;
}

.contenedor {
  display: flex; /* Para poner calculadora e historial uno al lado del otro */
  justify-content: center;
  align-items: flex-start;
  gap: 4px;/*distancia entre historial y calculadora*/
  padding-top: 50px;
}

.calculadora {
  background-color: #2f3542;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 10px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  width: 350px;
}

#pantalla {
  width: 100%;
  height: 60px;
  font-size: 2em;
  text-align: right;
  padding: 10px;
  border: 1px solid #747d8c;
  border-radius: 2px;
  margin-bottom: 20px;
  background-color: #2f3542;
  cursor: default;
}

.botones {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3px;
}

button {
  height: 45px;
  font-size: 1.1em;
  border: none;
  border-radius: 10px;
  background-color: #57606f;
  color: white;
  cursor: pointer;
  
}

button:hover {
  background-color: #747d8c;
}

button:active {
  transform: scale(0.95);
}

ul {
  list-style-type: none;
}

#contenedorHistorial {
  display: none; 
 
}
#contenedorHistorial{
    background-color: #2f3542;
    color: rgb(179, 170, 170);
    padding: 10px;
    border-radius: 10px;
    max-height: 200px;
    overflow: auto;
    width: 150px;
}